<%= simple_form_for([:admin, @form, @filled_form]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <legend>امکانات مدیریتی</legend>
    <%= f.association :student %>
    <% verify_col={ 'بررسی نشده'=>'nil',
                    'تایید اطلاعات'=>'true',
                    'رد کردن اطلاعات'=>'false'} %>
    <% confirm_col={ 'نتیجه نامشخص است'=>'nil',
                    'موافقت شده'=>'true',
                    'موافقت نشده'=>'false'} %>
    <%= f.input :verified, collection: verify_col, as: :radio, wrapper_html: {id:'verification-radio'} %>
    <%= f.input :verification_status, input_html:{data:{provide:"typeahead", source:@form.filled_forms.pluck(:verification_status)}, autocomplete:'off'}, wrapper_html: {id: 'verification-status-wrapper'} %>
    <%= f.input :progress, input_html:{data:{provide:"typeahead", source:@form.filled_forms.pluck(:progress)}}, wrapper_html: {id: 'progress-wrapper'} %>
    <%= f.input :confirmed, collection: confirm_col, as: :radio, wrapper_html: {id: 'confirmation_radio'} %>
    <%= f.input :confirmation_status, input_html:{data:{provide:"typeahead", source:@form.filled_forms.pluck(:confirmation_status)}}, wrapper_html:{id:'confirmation_wrapper'} %>
    <legend>اطلاعات وارد شده در فرم</legend>
    <%= f.fields_for :filled_fields do |d| %>
      <% field=d.object.field %>
      <%= d.input :field_id, as: :hidden %>
      <%= filled_field_input d, field %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
