<h1>نسخه‌های پرشده برای فرم <%= link_to @form.name, [:admin, @form] %></h1>

<table class="table">
  <tr>
    <th>پر کننده</th>
    <th>تاریخ ایجاد</th>
    <th>اخرین ویرایش</th>
    <th>وضعیت</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filled_forms.each do |filled_form| %>
  <tr>
    <td><%= filled_form.student.full_name %></td>
    <td><%= JalaliDate.new(filled_form.created_at).strftime('%A %e %b %Y ساعت  %H:%M') %></td>   
    <td><%= JalaliDate.new(filled_form.updated_at).strftime('%A %e %b %Y ساعت  %H:%M') %></td>   
    <td><%= status_badges(filled_form) %></td>
    <td><%= link_to 'Show', [:admin, @form, filled_form] %></td>
    <td><%= link_to 'Edit', edit_admin_form_filled_form_path(@form, filled_form) %></td>
    <td><%= link_to 'Destroy', [:admin, @form, filled_form], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filled form', new_admin_form_filled_form_path %>
