<div class='row'>
  <div class='span5 offset1'>
    <%= simple_form_for([@form,@filled_form], validate: true) do |f| %>
      <%= f.error_notification %>
      <%= f.error :base %>
      <div class="form-inputs">
        <%= f.fields_for :filled_fields do |d| %>
          <% field=d.object.field %>
          <%= d.input :field_id, as: :hidden %>
          <% collection=case field.field_type %>
          <%# #TODO: MOVE IT OUTA HERE %>
          <% when 'tedadevahed' then 0..6 %>
          <% when 'maghta' then [t(:undergrad),t(:grad),t(:phd)]  %>
          <% else false %>
          <% end %>
          <%= filled_field_input d, field %>
          <%# <span class="help-inline"><%= @filled_form.errors["data[#{field.name}]"][0] if @filled_form.errors["data[#{field.name}]"][0].present?  %1></span> %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class='span5'>
    <div class='well'><%= simple_format @form.description %></div>
  </div>  
</div>
