<div class='row'>
  <div class='span5 offset1'>
    <div class="alert alert-info alert-block"><strong>راهنمای استفاده از سایت:</strong> <p>به محض پر کردن همه‌ی فیلد‌های اجباری (که با * مشخص شده‌اند) فرم به صورت خودکار وارد پروسه‌ی بررسی صحت اطلاعات و مراحل اداری می‌شود.</p><p>همچنین اگر تمایل دارید می‌توانید فرم را در چند مرحله پر کنید. برای این‌کار پس از هربار تغییر در فرم، آن را ذخیره کنید، سپس از محل سوابق پر شدن آن فرم در صفحه‌ی اصلی، کار خود را ادامه دهید.</p></div>
    <%= simple_form_for([@form,@filled_form], validate: true) do |f| %>
      <%= f.error_notification %>
      <%= f.error :base %>
      <div class="form-inputs">
        <%= f.fields_for :filled_fields do |d| %>
          <% field=d.object.field %>
          <%= d.input :field_id, as: :hidden %>
          <%= filled_field_input d, field %>
          <%# <span class="help-inline"><%= @filled_form.errors["data[#{field.name}]"][0] if @filled_form.errors["data[#{field.name}]"][0].present?  %1></span> %>
        <% end %>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
  <div class='span5'>

    <div class='well'><h2>توضیحات مربوط یه «<%= @form.name %>»</h2><%= simple_format @form.description %></div>
  </div>  
</div>
