<h1>سوابق پر شدن فرم <%= @form.name %></h1>
<p><%= simple_format @form.description %></p>
<table class="table">
  <tr>
    <th>تاریخ ایجاد</th>
    <th>اخرین ویرایش</th>
    <th>وضعیت</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filled_forms.each do |filled_form| %>
  <tr>
    <td><%= JalaliDate.new(filled_form.created_at).strftime('%A %e %b %Y ساعت  %H:%M') %></td>   
    <td><%= JalaliDate.new(filled_form.updated_at).strftime('%A %e %b %Y ساعت  %H:%M') %></td>   
    <td><%= if filled_form.completed? then badge('تکمیل شده','badge-success') else badge('ناکامل','badge-warning') end %></td>
    <td><%= link_to 'Show', [@form,filled_form] %></td>
    <td><%= link_to 'Edit', edit_form_filled_form_path(@form,filled_form) %></td>
    <td><%= link_to 'Destroy', [@form,filled_form], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%=fill_new_button(@form,@filled_forms)%>
