<p>
  <b>Form:</b>
  <%= @filled_form.form.name %>
</p>
<div>
  <%= content_tag_for :p, @filled_form.filled_fields do |f| %>
    <%= content_tag :strong, f.field.name %>: <%= f.value %>
  <% end %>
</div>
<p>
  <b>completed:</b>
  <%= @filled_form.completed? %>
</p>


<%= link_to 'Edit', edit_form_filled_form_path(@form,@filled_form) %> |
<%= link_to 'Back', form_filled_forms_path(@form) %>
