<h1>نسخه‌ی <%= @filled_form.form.name %> <%= content_tag :sup, status_badges(@filled_form) %></h1>
<p><strong>ایجاد شده در</strong> <%= JalaliDate.new(@filled_form.created_at).strftime('%A %e %b %Y ساعت  %H:%M') %></p>
<p><strong>آخرین ویرایش در</strong> <%= JalaliDate.new(@filled_form.created_at).strftime('%A %e %b %Y ساعت  %H:%M') %></p>
<div>
  <h2>اطلاعات</h2>
  <%= content_tag_for :p, @filled_form.filled_fields.all.delete_if{ |i| i.value.blank? } do |f| %>
    <%= content_tag :strong, f.field.name %>: <%= f.value %>
  <% end %>
</div>
<h2>وضعیت</h2>
<div>
  <h3>تکمیل <%= @filled_form.completed? ? 'شده' : 'نشده' %></h3>
  <% if @filled_form.completed? %>
    تمام بندهای این فرم تکمیل شده.
  <% else %>
    <p>این فیلد‌ها هنوز پر نشده‌ند:</p>
    <ul>
      <%= content_tag_for :li, @filled_form.filled_fields.select{|i| !i.filled?} do |f| %>
        <%= f.field.name %>
      <% end %>
    </ul>
  <% end %>
  <h3>تایید اطلاعات</h3>
  <% if @filled_form.verified? %>
    <p>دفتر استعداد‌های درخشان اطلاعات این فرم را تایید کرده و هم اکنون این فرم در حال طی کردن مراحل اداری‌ست.</p>

    <h3>موافقت با درخواست</h3>
    <% case @filled_form.confirmed? %>
    <% when true %>
      <p>با این درخواست موافقت شده. :)</p>
    <% when false %>
      <p>متأسفانه با این درخواست شما موافقت نشد. دلیل آن اینگونه ذکر شده:</p>
      <%= content_tag :div, @filled_form.confirmation_status, class:'well' %>
    <% when nil %>
      <% if @filled_form.progress? %>
        <p>هم اکنون وضعیت پیشرفت این درخواست اینگونه ذکر شده:</p>
        <%= content_tag :div, @filled_form.progress, class:'well' %>
      <% end %>
    <% end %>
  <% elsif @filled_form.verified? == false %>
    <p>اطلاعات این فرم تایید نشد. دلیل آن اینگونه ذکر شده:</p>
    <div class='well'>
      <%= @filled_form.verification_status %>
    </div>
  <% end %>
</div>


<%= link_to 'Edit', edit_form_filled_form_path(@form,@filled_form) %> |
<%= link_to 'Back', form_filled_forms_path(@form) %>
