<%= simple_form_for([:admin,@field], validate: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <% col = FIELDS_CONFIG['fields'].map{ |k,v| [v['name'],k] } %>
    <%= f.input :field_type, collection: col %>
    <%= f.input :description %>
    <%= f.input :optional %>
    <%= f.input :enabled %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
