<div class='page-header'>
  <h1>اخبار و اطلاعیه‌ها</h1>
</div>
<% if admin_signed_in? %>
  <%= link_to '<i class="icon-plus-sign"></i> پست جدید'.html_safe , new_blog_path, class: 'btn btn-primary' %>
<% end %>
<%= content_tag_for :article, @blogs, class: 'row' do |blog| %>
  <div class='span8 offset2'>
    <h2><%= link_to blog.title, blog %></h2>
    <% if admin_signed_in? %>
      <div class='btn-toolbar pull-left'>
        <%= link_to 'edit', edit_blog_path(blog), class: 'btn btn-small'  %>
        <%= link_to 'destroy', blog, confirm: 'are you sure?', method: :delete, class: 'btn btn-small btn-danger' %>
      </div>
    <% end %>
    <%= content_tag :div, blog.description, data: { markdown: blog.description } %>
  </div>
<% end %>
