<div class='page-header'>
  <h1>فهرست دانشجویان</h1>
</div>

<%= link_to 'ثبت دانشجوی جدید', new_student_path, class: 'btn btn-primary' %>

<table class='table'>
  <thead>
    <tr>
      <th><%= Student.human_attribute_name :full_name %></th>
      <th><%= Student.human_attribute_name :email %></th>
      <th><%= Student.human_attribute_name :identification_number %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
        <td><%= student.email %></td>
        <td><%= student.identification_number %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class: 'btn btn-small' %>
        <%= link_to 'Destroy', student, confirm: 'Are you sure?', method: :delete, class: 'btn btn-small btn-danger' %></td>
    </tr>
  <% end %>
</tbody>
</table>
