<h1>لیست فرم‌ها</h1>
<div class='btn-toolbar'>
  <%= link_to "فرم جدید", new_admin_form_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <tr>
    <th>عنوان</th>
    <th>توضیحات</th>
    <th>نسخه‌های پر شده</th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= link_to form.name, [:admin,form] %></td>
    <td><%= simple_format(truncate form.description, length: 200, separator:'.') %></td>
    <% not_checked =  form.filled_forms.all.select{ |i| i.verified? == nil} %>
    <td><%= link_to "#{form.filled_forms.count} نسخه (#{not_checked.count} بررسی نشده)", admin_form_filled_forms_path(form) %><td>
    <td><%= link_to 'ویرایش', edit_admin_form_path(form) %></td>
  </tr>
<% end %>
</table>
