<h1>لیست فرم‌ها</h1>

<table class="table">
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".description" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.name %></td>
    <td><%= form.description %></td>
    <td><%= link_to 'ویرایش', edit_admin_form_path(form) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Form', new_admin_form_path %>
