<p>
  <b><%= t ".name" %>:</b>
  <%= @form.name %>
</p>

<p>
  <b><%= t ".description" %>:</b>
  <%= simple_format @form.description %>
</p>


<%= link_to 'Edit', edit_admin_form_path(@form) %> |
<%= link_to 'Back', admin_forms_path %>
