<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">استعداد‌های درخشان</a>
      <div class="nav-collapse">
        <ul class="nav">
          <%= navbar_item(root_path, t(:home)) %>
          <%= navbar_item(admin_forms_path, 'مدیریت فرم‌ها') %>
          <%= navbar_item(admin_fields_path, 'مدیریت فیلد‌ها') %>
          <%= navbar_item blogs_path, 'اطلاعیه‌ها' %>
          <%= navbar_item(page_path("about"), 'درباره') %>
          <%= navbar_item(page_path("contact"), 'تماس') %>
        </ul>
        <ul class="nav pull-left">
          <%= navbar_item(destroy_admin_session_path,'خروج','',:delete) %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

