<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">استعداد‌های درخشان</a>
      <div class="nav-collapse">
        <ul class="nav">
          <%= navbar_item me_students_path, t(:home) %>
          <%= navbar_item blogs_path, 'اطلاعیه‌ها' %>
          <%= navbar_item page_path("about"), 'درباره' %>
          <%= navbar_item page_path("contact"), 'تماس' %>
        </ul>
        
        <div class='pull-left'>
          <ul class="nav pull-left">
            <li class='dropdown'><a href="#" class="dropdown-toggle" data-toggle="dropdown">سلام <%= current_student.first_name %>! <b class='caret'></b></a>
              <ul class='dropdown-menu'>
                <%= navbar_item(edit_student_registration_path,'مشخصات فردی', '',:get, 'cog') %>
                <li class="divider"></li>
                <%= navbar_item(destroy_student_session_path,'خروج', '',:delete, 'off') %>
              </ul>
            </li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

