<!DOCTYPE html>
<html lang='fa' dir='rtl'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Former</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= favicon_link_tag("favicon.ico", :rel => "shortcut icon") %>
    <%# <%= favicon_link_tag("apple-touch-icon.png", :rel => "apple-touch-icon") %1> %>

  </head>
  <body>
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/admin_navbar' %>
      <% elsif student_signed_in?  %>
        <%= render 'layouts/student_navbar' %>
      <% else %>
        <%= render 'layouts/navbar' %>
      <% end %>
    </header>
    <div class="container">
      <% [:notice, :error, :alert].each do |level| %>
        <% unless flash[level].blank? %>
          <div class="alert alert-<%= flash_class(level) %>">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <%= content_tag :p, flash[level] %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <hr />
    <footer>
      <p>تمام حقوق این وب‌سایت برای دفتر استعداد‌های درخشان دانشگاه شهید بهشتی محفوظ است.</p>
    </footer>
  </body>
</html>
